html {
    background-color: #568EA3;
}

.game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.game div {
    background-color: #68C3D4;
    width: 600px;
    min-height: 100px;  
    
}

.Titre {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #826251;
    font-family: 'Roboto', sans-serif;
}

.Texte {
    font-family: 'Roboto', sans-serif;
    color: #826251;
    text-align: center;
    font-size: 20px;
}

.boutons {
    width: 10px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: #F7B97C;
    color: white;
}

.Bouton {
    background-color: #F7AF67;
    color: white;
    border: none;
}

.Bouton2 {
    background-color: #F7AF67;
    color: white;
    border: none;
}

.Bouton3 {
    background-color: #F7AF67;
    color: white;
    border: none;
}